{% extends "../base.html" %}
{% load static %}
{% load notes_filter %}

{% block content %}

<div>
    <div class="eleven columns" style="padding-top: 10px;">

        <div class="padding-top-bot card bg-white">
            <h4>Always Patterns</h4>
            <div>
                <table>
                    <thead>
                        <th>Pattern</th>
                        <th>Annotation</th>
                        <th>Sentences Captured</th>
                        <th>Undo Regex</th>
                    </thead>
                    <tbody>
                        {% for pattern in patterns %}
                        <tr>
                            <td>{{ pattern.Pattern }}</td>
                            <td>{{ pattern.get_Annotation_display }}</td>
                            <td>{{ pattern.Count }}</td>
                            <td>
                                <form action="/pattern/{{pattern.id}}/undo" method="POST">
                                    <button class="btn-dark" type="submit">
                                        Undo & Remove Regex
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
{% endblock content %}