{% extends "./base.html" %}
{% load static %}
{% load notes_filter %}

{% block content %}

<div class="three columns card">

    <div class="bg-white">
        <div class="padding-top-bot">
            <h4>Patient #{{patient_ID}}</h4>
            <p>You are annotating note number {{note.LocalNoteID}} of {{note_count}} for this patient.</p>
            <p><b>Patient ID:</b> {{patient_ID}}</p>
            <p><b>MRN:</b> {{patient.MRN}}</p>
            <p><b>Sex:</b> {{patient.SexDSC}}</p>
            <p><b>Birth Date:</b> {{patient.BirthDTS}}</p>
            <p><b>Ethnic Group:</b> {{patient.EthnicGroupDSC}}</p>
            <p><b>Marital Status:</b> {{patient.MaritalStatusDSC}}</p>
            <p><b>Education Level:</b> {{patient.EducationLevelDSC}}</p>
            <p><b>Current PCP:</b> {{note.CurrentPCP}}</p>
        </div>
        <div style="text-align: center;">
            <form method="post">
                {% csrf_token %}
                {% for field in consensus_form %}
                    <div class = "{{ field.auto_id }}">
                        {{ field }}
                    </div>
                {% endfor %}
                {% if patient_consensus %}
                <div style="padding-top: 0px;"><button class="small-button" type="submit">Remove from Consensus</button></div>
                {% else %}
                <div style="padding-top: 0px;"><button class="small-button" type="submit">Send to Consensus</button></div>
                {% endif %}
            </form>
        </div>
    </div>

    <!-- <div class="bg-white inside-bottom" style="text-align: center;">
        <div class="padding-top-bot">
            <h4>Note Label</h4>
            <p style="text-align: center;">Please indicate if Note #{{note.LocalNoteID}} of Patient #{{patient_ID}} contains information pertinent to cognitive concern.</p>
            <form method="post">
                {% csrf_token %}
                {% for field in note_form %}
                    {{ field }}
                    <p hidden for="{{ field.auto_id }}">{{ field.label }}</p>
                {% endfor %}
                <div style="padding-top: 20px;"><button class="small-button" type="submit">Submit</button></div>
            </form>
        </div>
    </div> -->

    <!-- <div class="bg-white inside-bottom" style="text-align: center;">
        <h4 style="padding-bottom: 10px;">Patient Label</h4>
        <form method="post">
            {% csrf_token %}
            {% for field in cc_form %}
                <div class = "{{ field.auto_id }}">
                    <label style="padding-top: 10px; padding-bottom: 5px; text-align: center;" class="{{ field.auto_id }}" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div style="padding-top: 20px;"><button class="small-button" type="submit">Submit</button></div>
        </form>
    </div> -->

    <div class="bg-white inside-bottom" style="text-align: center; {{patient|fill_cc_form}}">
        <h4 style="padding-bottom: 10px;">Cognitive Concern</h4>

        <form method="post">
            {% csrf_token %}
            {% for field in cc_form %}
                <div class = "{{ field.auto_id }}">
                    <label style="padding-top: 10px; text-align: center; font-weight: 800;" class="{{ field.auto_id }}" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <p style="text-align: left; padding-top: 10px; padding-bottom: 10px">Cognitive concerns could be relayed from (1) patients, (2) family members and friends, or (3) providers. Choose undetermined if there is not sufficient information in EHR. <a href="/about" target="_blank" rel="noopener noreferrer"><i>Go to SOP.</i></a></p>
                    {{ field }}
                </div>
            {% endfor %}
            <div style="padding-top: 20px;"><button class="small-button" type="submit">Submit</button></div>
        </form>
        
    </div>


    <div class="bg-white inside-bottom" style="text-align: center; {{patient|fill_si_form}}">
        <h4 class="year-color" style="padding-bottom: 10px;">Stage of Impairment</h4>

        <form method="post">
            {% csrf_token %}
            {% for field in si_form %}
                <div class = "{{ field.auto_id }}">
                    <label style="padding-top: 10px; padding-bottom: 5px; text-align: center; font-weight: 800;" class="{{ field.auto_id }}" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <p style="text-align: left; padding-top: 10px; padding-bottom: 10px">If cognitive concerns are present, then label the stage of impairment as either CIND (<span style = "text-decoration: underline;">C</span>ognitive <span style = "text-decoration: underline;">I</span>mpairment <span style = "text-decoration: underline;">N</span>ot <span style = "text-decoration: underline;">D</span>ementia) or Dementia (which is determined by IADLs/ADLs). <a href="/about" target="_blank" rel="noopener noreferrer"><i>Go to SOP.</i></a></p>
                    {{ field }}
                </div>
            {% endfor %}
            <div style="padding-top: 20px;"><button class="small-button yc-btn" type="submit">Submit</button></div>
        </form>
        
    </div>


    <div class="bg-white inside-bottom">
        <h4>Scratchpad</h4>
        <p>This is your free-text space to jot notes as you annotate; text will persist across each patient.</p>
        <br>    
        <form method="post" novalidate>
            {% csrf_token %}
            <div style="text-align: center;">{{ scratchpad_form }}</div>                
            <div style="text-align: center; padding-top: 15px;"><button class="small-button" type="submit">Save</button></div>
        </form>
    </div>

</div>


<div class="six columns card-left">
    
    <div class="bg-white">
        
        <a href={{previous_link}}><div style="float: left;"><button class="btn-nav">&#8249;</button></div></a>
        <a href={{next_link}}><div style="float: right;"><button class="btn-nav">&#8250;</button></div></a>
        
        <h4>Clinical Note #{{note.LocalNoteID}}</h4>
        <table style = "width: 100%;">
            <tr>
                <td style = "text-align: left; font-size: 15px; width: 40%;">
                    <p><b>Encounter Date:</b> {{note.ContactDTS}}</p>
                    <p><b>Encounter Type:</b> {{note.EncounterTypeDSC}}</p>
                    {% if show_age %}
                    <p><b>Age at Encounter:</b> {{years_at_encounter}} Years, {{months_at_encounter}} Months</p>
                    {% else %}
                    <p><b>Age at Encounter:</b> None</p>
                    {% endif %}
                </td>
                <td style = "text-align: left; font-size: 15px; width: 40%;">
                    <p><b>Provider:</b> {{note.ProviderNM}} ({{note.LicenseDisplayDSC}})</p>
                    <p><b>Department:</b> {{note.PrimaryDepartmentDSC}}</p>
                    <!-- <p><b>Provider Credentials:</b> {{note.LicenseDisplayDSC}}</p> -->
                </td>
                <td style = "text-align: left; font-size: 15px; width: 20%;">

                    {% if note.LabsInInterval %}
                    <p><b>Labs &plusmn; 15 Days:</b> <span style="background-color:#d1e7dd; padding: 1px; border-radius: 5px;">Yes</span></p>
                    {% else %}
                    <p><b>Labs &plusmn; 15 Days:</b> <span style="background-color:#f8d7da; padding: 1px; border-radius: 5px;">No</span></p>
                    {% endif %}

                    {% if note.ImagingInInterval %}
                    <p><b>Imaging &plusmn; 15 Days:</b> <span style="background-color:#d1e7dd; padding: 1px; border-radius: 5px;">Yes</span></p>
                    {% else %}
                    <p><b>Imaging &plusmn; 15 Days:</b> <span style="background-color:#f8d7da; padding: 1px; border-radius: 5px;">No</span></p>
                    {% endif %}

                </td>
            </tr>
        </table>

        <div class="note" id = "note-text">
            {{note_text|redact}}
        </div>

        <!-- {% if note.KeywordCount > 0 %}
        <br> <button class="small-button" id = "next-keyword-button"> Go to next keyword match.</button>
        {% endif %} -->

        <span class = "keyword-nav"><p>Total {{note_keywords}} default keywords.</p></span>
        <!-- {{note.KeywordCount}} -->


    </div>


    <div class="bg-white inside-bottom">
        
        <a href={{previous_year_link}}><div style="float: left;"><button class="btn-nav year-btn">&#8249;</button></div></a>
        <a href={{next_year_link}}><div style="float: right;"><button class="btn-nav year-btn">&#8250;</button></div></a>

        <!-- <h4 class="year-color">Patient Information for {{note_year}}</h4> -->
        <h4 class="year-color">Patient Information</h4>

        <!-- <p>You are annotating Note #{{patient_year_idx}} of {{patient_year.NumberNotes}} for this patient in {{note_year}}.</p> -->

        <table style = "width: 100%;">
            <tr>
                <th>Total Notes</th>
                <th>Total Encounters</th>
                <th>No Shows</th>
                <th>Cancellations</th>
                <th>Refill Requests</th>
            </tr>
            <tr>
                <td>{{patient_year.NumberNotes}}</td>
                <td>{{patient_year.TotalEncounters}}</td>
                <td>{{patient_year.NoShows}}</td>
                <td>{{patient_year.Cancellations}}</td>
                <td>{{patient.RefillRequests}}</td>
            </tr>
        </table>

        <div class = "pcc-note">
            <p><b>Patient Care Coordination Note:</b> {{pcc_note|safe}}</p>
        </div>

        <div class = "med">
            <p><b>Current Medications:</b> {{current_meds|safe}}</p>
        </div>

        <div class = "med">
            <p><b>Medication History:</b> {{med_hist|safe}}</p>
        </div>

        <div class = "icd">
            <p><b>ICD Codes:</b> {{icd_codes|safe}}</p>
        </div>

    </div>

    <div class="six columns card-bottom" style="width: 50%;">

        <div class="bg-white inside-bottom">
            <h4>Labs</h4>

            <div class="labs">
                <table style = "width: 100%;">
                    <colgroup>
                        <col span="1" style="width: 40%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 30%;">
                     </colgroup>
                    <thead>
                        <tr>
                            <th><p>Lab</p></th>
                            <th><p>Date</p></th>
                            <th><p>Value</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{labs|safe}}
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    
    
    <div class="six columns card-btm-right" style="width: 50%;">
    
        <div class="bg-white inside-bottom">
            <h4>Imaging</h4>

            <div class="imaging">
                <table style = "width: 100%;">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 20%;">
                     </colgroup>
                    <thead>
                        <tr>
                            <th><p>Imaging</p></th>
                            <th><p>Date</p></th>
                            <th><p>Notes</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{imaging|safe}}
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>


</div>


<div class="three columns card-left">

    <div class="bg-white">
        <h4>Keywords</h4>
        <p>Select additional keywords to highlight. Separate keywords with commas, regex expressions are supported.</p>    
        <form method="post" novalidate>
            {% csrf_token %}
            <div style="text-align: center;">{{ keywords_form }}</div>                
            <div style="text-align: center; padding-top: 15px;"><button class="small-button" type="submit">Highlight</button></div>
        </form>
    </div>

    <div class="bg-white inside-bottom">
        
        <h4 class="year-color">Timeline</h4>

        <div class="timeline" style = "scroll-behavior: smooth;">

            <div class="vtl">

                {% for note_list in notes_patient %}

                {% if note.LocalNoteID == note_list.LocalNoteID %}
                <a name="note"></a>
                {% endif %}

                <a href='/annotate/{{note_list.PatientID}}/{{note_list.LocalNoteID}}' class = 'timeline' id = '{{note_list.PatientID}}-{{note_list.LocalNoteID}}-timeline'>
                    <div class="ewrap" style = "--my-color-var: {{note_list|fill_table}};">
                        <div class="event" style = "background-color: {{note_list|fill_table}};">
                            
                            <strong class="date">#{{note_list.LocalNoteID}}: {{note_list.ContactDTS}}</strong>
                            <p>
                            {{note_list.NoteTXT|trunc_redact:80}}
                            </p>

                        </div>
                    </div>
                </a>
                
                {% endfor %}

                <!-- {% for event in timeline %}

                {% if event.EventType == "Note" %}

                <a href='/annotate/{{event.PatientID}}/{{event.LocalNoteID}}' class = 'timeline' id = '{{event.PatientID}}-{{event.LocalNoteID}}-timeline'>
                    <div class="ewrap" style = "--my-color-var: {{event|fill_table}};">
                        <div class="event" style = "background-color: {{note_list|fill_table}};">
                            
                            <strong class="date">#{{note_list.LocalNoteID}}: {{note_list.ContactDTS}}</strong>
                            <p>
                            {{note_list.NoteTXT|trunc_redact:80}}
                            </p>

                        </div>
                    </div>
                </a>

                {% else %}

                {% endif %}

                {% endfor %} -->

            </div>

        </div>

    </div>

</div>

{% endblock content %}