{% extends "./base.html" %}
{% load static %}
{% load notes_filter %}

{% block content %}

<div class="seven columns card">

    <div class="bg-white">
        <div class="padding-top-bot">
            <h4>Consensus Dashboard</h4>
            <table style = "width: 100%;">
                <tr style = "text-align: center;">
                    <th><h5>Note Annotation</h5></th>
                    <th><h5>Patient Annotation</h5></th>
                </tr>
                <tr>
                    <td>
                        <p style = "text-align: left;"><b>Assigned Notes: </b>{{total_notes}}</p>
                        <p style = "text-align: left;"><b>Completed Notes: </b>{{completed_notes}}</p>
                        <p style = "text-align: left; margin-bottom: 0px;"><b>{{notes_per}}% </b>of consensus notes remaining to label.</p>
                    </td>
                    <td>
                        <p style = "text-align: left;"><b>Assigned Patients: </b>{{total_patients}}</p>
                        <p style = "text-align: left;"><b>Completed Patients: </b>{{completed_patients}}</p>
                        <p style = "text-align: left; margin-bottom: 0px;"><b>{{patients_per}}% </b>of consensus patients remaining to annotate.</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bg-white inside-bottom">
        <div class="padding-top-bot">
            <h4>Consensus Conference</h4>
            <p style = "padding-bottom: 20px;">Welcome to the NLP Annotator Tool. Please select patients to annotate below.</p>

            {% if no_notes %}
            <p style = "padding-bottom: 20px; color: red; font-weight: 800;">No patients are currently assigned. Please use the form on the right to request additional patients to annotate.</p>
            {% endif %}

            {% for patient in patientDB %}

            <button class="collapsible" style="{{patient|fill_patient_collapsible}}">
                Patient #{{patient.PatientID}} - {{patient|get_age:noteDB}}, {{patient|get_sex}}
            </button>
            <div class="content">
                <table class = "tablesorter" style = "width: 100%" >
                    <thead>
                        <tr>
                            <th>Link</th>
                            <th>Date</th>
                            <th>Encounter Type</th>
                            <th>Provider</th>
                            <th>Credentials</th>
                            <th>Department</th>
                            <th>Specialty</th>
                            <th>Keywords</th>
                            <th>ADL Keywords</th>
                            <th>Labs</th>
                            <th>Imaging</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for note in noteDB|filter_note:patient.PatientID %}
                        <tr style="background-color: {{note|fill_table}};">
                            <td><a href="/annotate/{{note.PatientID}}/{{note.LocalNoteID}}" target="_blank" rel="noopener noreferrer">{{note.LocalNoteID}}</a></td>
                            <td>{{note.ContactDTS}}</td>
                            <td>{{note.EncounterTypeDSC}}</td>
                            <td>{{note.ProviderNM}}</td>
                            <td>{{note.LicenseDisplayDSC}}</td>
                            <td>{{note.PrimaryDepartmentDSC}}</td>
                            <td>{{note.SpecialtyDSC}}</td>
                            <td>{{note.KeywordCount}}</td>
                            <td>{{note.ADLKeywordCount}}</td>
                            <td>{{note.LabsInInterval}}</td>
                            <td>{{note.ImagingInInterval}}</td>
                        </tr>                   
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <span class="consensus-actor">Sent to consensus by {{patient.ConsensusActor}}.</span>
            <br>

            {% endfor %}

        </div>
    </div>

</div>


<div class="three columns card-left">

    <div class="bg-white">
        <h4>Welcome</h4>
        <p>Notes sent to consensus are accessible by all annotators. Consensus conferences can be used to review conflicting or challenging notes, as well as flag notes with known issues.</p>
    </div>

    <div class="bg-white inside-bottom">
        <h4>About</h4>
        <p>The NLP Annotator Tool was developed by the <a href="https://www.massgeneral.org/neurology/research/mind-data-science-lab" target="_blank" rel="noopener noreferrer">MIND Data Science Lab</a> at MassGeneral Hospital.</p>
    </div>

</div>

{% endblock content %}
