{% extends "./base.html" %}
{% load static %}

{% block content %}


<div class="five columns card">

    <div class="bg-white">
        <div class="padding-top-bot">
            <h4>Log In</h4>
            <p>Please log-in to continue annotating.</p>

            <form method="post">
                {% csrf_token %}
                
                {% for field in login_form %}
                <p>
                  <br><b>{{ field.label_tag }}</b>
                  {{ field }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
                {% endfor %}

                <div style="text-align: center;"><button class="small-button" type="submit">Log In</button></div>
            </form>

        </div>
    </div>

</div>

<!-- <div class="five columns card">

  <div class="bg-white">
    <div class="padding-top-bot">
      <h4>Sign Up</h4>
      <p>Welcome to the NLP Annotator Tool. Please sign-up for our tool below. Please use your Partners username when
        registering.</p>

      <form method="post">
        {% csrf_token %}

        {% for field in signup_form %}
        <p>
          <br><b>{{ field.label_tag }}</b>
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}

        <div style="text-align: center;"><button class="small-button" type="submit">Sign Up</button></div>
      </form>

    </div>
  </div>


</div> -->

{% endblock content %}