{% extends "./base.html" %}
{% load static %}
{% load notes_filter %}

{% block content %}

<div class="three columns card">

    <div class="bg-white">
        <div class="padding-top-bot">
            <h4>Profile</h4>
            <p><b>Name:</b> {{current_user.last_name}}, {{current_user.first_name}}</p>
            <p><b>Username:</b> {{current_user.username}}</p>
            <p><b>Email:</b> {{current_user.email}}</p>
            <p><b>Date Joined:</b> {{current_user.date_joined}}</p>
        </div>
    </div>

    <div class="bg-white inside-bottom">
        <h4>Keywords</h4>
        <p>Update the keywords for your account below. Separate keywords with commas, regex expressions are supported.</p>    
        <form method="post" novalidate>
            {% csrf_token %}
            <div style="text-align: center;">{{ keywords_form }}</div>                
            <div style="text-align: center; padding-top: 15px;"><button class="small-button" type="submit">Update</button></div>
        </form>
        <div style="padding-top: 20px;">
            <p><b>Current Keywords:</b> {{keywords_raw}}</p>
        </div>
    </div>

</div>


<div class="seven columns card-left">

    <div class="bg-white">
        <div class="padding-top-bot">
            <h4>Summary</h4>

            <p>Below are patients which you have completed annotating.</p>
            <p><b>Completed Patients:</b> {{completed_patient_count}}</p>
            <p style = "padding-bottom: 20px;"><b>Total Assigned Patients:</b> {{full_patient_count}}</p>

            {% if no_patients %}
            <p style = "padding-bottom: 20px; color: red; font-weight: 800;">You have not completed any patient annotations yet.</p>
            
            {% else %}

            <table class = "tablesorter" style = "width: 100%">
                <thead>
                    <tr>
                        <th>Patient ID</th>
                        <th>Birth Date</th>
                        <th>Sex</th>
                        <th>Cognitive Concern</th>
                        <th>Impairment Stage</th>
                        <!-- <th>Syndromic Diagnosis</th>
                        <th>CIND Severity</th>
                        <th>Dementia Severity</th> -->
                        <th>Date Annotated</th>
                    </tr>
                </thead>
                <tbody>
                {% for patient in patientDB %}
                    <tr style="background-color: {{patient|fill_patient_table}};">
                        <td><a href="/annotate/{{patient.PatientID}}/1" target="_blank" rel="noopener noreferrer">{{patient.PatientID}}</a></td>
                        <td>{{patient.BirthDTS}}</td>
                        <td>{{patient.SexDSC}}</td>
                        <td>{{patient.get_CognitiveConcern_display}}</td>
                        <td>{{patient.get_StageImpairment_display}}</td>
                        <!-- <td>{{patient.get_SyndromicDiagnosis_display}}</td>
                        <td>{{patient.get_CINDSeverity_display}}</td>
                        <td>{{patient.get_DementiaSeverity_display}}</td> -->
                        <td>{{patient.DateAnnotated}}</td>
                    </tr>                   
                {% endfor %}
                </tbody>
            </table>

            {% endif %}

        </div>
    </div>

    <div class="bg-white inside-bottom">
        <div class="padding-top-bot">
            <h4>Completed Patients</h4>

            <p style = "padding-bottom: 20px;">If you would like to reannotate a specific patient, you can select them below.</p>

            {% if no_patients %}
            <p style = "padding-bottom: 20px; color: red; font-weight: 800;">You have not completed any patient annotations yet.</p>
            
            {% else %}

            {% for patient in patientDB %}

            <button class="collapsible" style="{{patient|fill_patient_collapsible}}">
                Patient #{{patient.PatientID}} - {{patient|get_age:fullnoteDB}}, {{patient|get_sex}}
            </button>
            <div class="content">
                <table class = "tablesorter" style = "width: 100%" >
                    <thead>
                        <tr>
                            <th>Link</th>
                            <th>Date</th>
                            <th>Encounter Type</th>
                            <th>Provider</th>
                            <th>Credentials</th>
                            <th>Department</th>
                            <th>Specialty</th>
                            <th>Keywords</th>
                            <th>ADL Keywords</th>
                            <th>Labs</th>
                            <th>Imaging</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for note in fullnoteDB|filter_note:patient.PatientID %}
                        <tr style="background-color: {{note|fill_table}};">
                            <td><a href="/annotate/{{note.PatientID}}/{{note.LocalNoteID}}" target="_blank" rel="noopener noreferrer">{{note.LocalNoteID}}</a></td>
                            <td>{{note.ContactDTS}}</td>
                            <td>{{note.EncounterTypeDSC}}</td>
                            <td>{{note.ProviderNM}}</td>
                            <td>{{note.LicenseDisplayDSC}}</td>
                            <td>{{note.PrimaryDepartmentDSC}}</td>
                            <td>{{note.SpecialtyDSC}}</td>
                            <td>{{note.KeywordCount}}</td>
                            <td>{{note.ADLKeywordCount}}</td>
                            <td>{{note.LabsInInterval}}</td>
                            <td>{{note.ImagingInInterval}}</td>
                        </tr>                   
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- {% if patient.StageImpairment == "Not Yet Annotated" %}
            <span class="consensus-actor" style = "color: red;">Stage of cognitive impairment is not annotated for this patient.</span>
            {% endif %} -->
            <br>

            {% endfor %}

            {% endif %}

        </div>
    </div>


    <!-- <div class="bg-white inside-bottom">
        <div class="padding-top-bot">
            <h4>Completed Notes</h4>

            <p>Below are notes which you have completed labelling.</p>
            <p><b>Completed Notes:</b> {{completed_note_count}}</p>
            <p style = "padding-bottom: 20px;"><b>Total Assigned Notes:</b> {{full_note_count}}</p>

            {% if no_notes %}
            <p style = "padding-bottom: 20px; color: red; font-weight: 800;">You have not completed any note annotations yet.</p>
            {% endif %}

            {% for note_patient in note_patientDB %}

            <button class="collapsible">
                Patient #{{note_patient.PatientID}} - {{note_patient|get_age:noteDB}}, {{note_patient|get_sex}}
            </button>
            <div class="content">
                <table class = "tablesorter" style = "width: 100%">
                    <thead>
                        <tr>
                            <th>Link</th>
                            <th>Date</th>
                            <th>Encounter Type</th>
                            <th>Provider</th>
                            <th>Department</th>
                            <th>Date Annotated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in noteDB|filter_note:note_patient.PatientID %}
                        <tr style="background-color: {{note|fill_table}};">
                            <td><a href="/annotate/{{note.PatientID}}/{{note.LocalNoteID}}" target="_blank" rel="noopener noreferrer">{{note.LocalNoteID}}</a></td>
                            <td>{{note.ContactDTS}}</td>
                            <td>{{note.EncounterTypeDSC}}</td>
                            <td>{{note.ProviderNM}}</td>
                            <td>{{note.PrimaryDepartmentDSC}}</td>
                            <td>{{note.DateAnnotated}}</td>
                        </tr>                   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>

            {% endfor %}

        </div>
    </div> -->

</div>

{% endblock content %}