{% extends "../base.html" %}
{% load static %}
{% load notes_filter %}

{% block content %}

<div>
    <div class="eleven columns" style="padding-top: 10px;">

        <div class="padding-top-bot card bg-white">
            <h4>Assign Sentences</h4>
            <div class="six columns">
                <form action="/assign" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <br />
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="five columns">
                <h3>Sentences Available: {{ available_count }}</h3>
                <h3>Users</h3>
                <ul>
                    {% for username in usernames %}
                    <li>{{ username }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>



</div>
{% endblock content %}