{% extends "../base.html" %}
{% load static %}
{% load notes_filter %}

{% block content %}

<div>
    <div class="eleven columns" style="padding-top: 10px;">
        <div class="padding-top-bot">
            <h4>Admin Menu</h4>
            <div class="card bg-white">
                <ul>
                    <li><a href="/new-user">Create User</a></li>
                    <li><a href="/assign">Assign Sentences</a></li>
                    <li><a href="/patterns">Always Patterns</a></li>
                </ul>
            </div>
        </div>
    </div>



</div>
{% endblock content %}